/* Primary-shared styles */

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

h2 {
    font-weight: bold;
}

p {
    color: #0D1321;
    font-size: 16px;
}

main {
    max-width: 1140px;
    margin: 0px auto;
}

/* Nav styles */


.nav-title {
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
}

.btn-resume {
    padding: 17px 24px;
    font-weight: 600;
    background-color: white;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
}


/* Banner styles */

.banner {
    background-image: url('../assets/Hero-bg.png');
    background-size: contain;
    text-align: center;
    padding: 26px 0px 44px 0px;
}

.banner-title {
    font-weight: bolder;
}

.btn-contact {
    color: white;
    background-color: #0D1321;
    font-weight: 600px;
    border-radius: 8px;
    padding: 21px 24px;
}


/* Why web dev styles */

.why-webdev {
    margin-top: 74px;
    text-align: center;
    background-color: #0d132105;
    padding: 32px 16px;
    border-radius: 12px;
}

.purpose {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 48px;
    background-color: #0d132105;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    gap: 100px;
    position: static;
    width: 850px;
    height: 240px;
}

.btn-learn {
    padding: 12px 20px;
    background-color: white;
    border: 1px solid rgb(13, 19, 33);
}

/* My insp section */

.my-insp {
    text-align: center;
    margin-top: 48px;
}

.video {
    margin-top: 48px;
    width: 1076px;
    height: 550px;
    border-radius: 20px;
}
