/* Primary-shared styles */

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}


p {
    color: #0D1321;
    font-size: 16px;
}


/* Nav styles */

.nav-title {
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
}

.btn-resume {
    padding: 17px 24px;
    font-weight: 600;
    background-color: white;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
}

/* Banner styles */

.banner {
    background-image: url('../assets/Hero-bg.png');
    background-size: contain;
    text-align: center;
    padding: 26px 0px 44px 0px;
}

.banner-title {
    font-weight: bolder;
}

.btn-contact {
    color: white;
    background-color: #0D1321;
    font-weight: 600px;
    border-radius: 8px;
    padding: 21px 24px;
}