/* Primary-shared styles */

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

h2 {
    font-weight: bold;
}

p {
    color: #0D1321;
    font-size: 16px;
}

main {
    max-width: 1140px;
    margin: 0px auto;
}

.black{
    color: #0D1321;
}

/* Nav styles */


.nav-title {
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
}

.btn-resume {
    padding: 17px 24px;
    font-weight: 600;
    background-color: white;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
}


/* Banner styles */

.banner {
    background-image: url('../assets/Hero-bg.png');
    background-size: contain;
    text-align: center;
    padding: 26px 0px 44px 0px;
}

.banner-title {
    font-weight: bolder;
}

.btn-contact {
    background-color: #0D1321;
    font-weight: 600px;
    border-radius: 8px;
    padding: 21px 24px;
}


/* Why web dev styles */

.why-webdev {
    margin-top: 74px;
    text-align: center;
    background-color: #0d132105;
    padding: 32px 16px;
    border-radius: 08px;
}

.purpose {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 48px;
    background-color: #0d132105;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    gap: 100px;
    position: static;
    width: 850px;
    height: 240px;
}

.btn-learn {
    padding: 12px 20px;
    background-color: white;
    border: 1px solid rgb(13, 19, 33);
}

/* My insp section */

.my-insp {
    text-align: center;
    margin-top: 48px;
}

.video {
    margin-top: 48px;
    width: 1076px;
    height: 550px;
    border-radius: 08px;
}

/* Current target section */

.target {
    text-align: center;
    margin-top: 50px;
}

.target-skills {
    margin-top: 48px;
    gap: 24px;
    display: flex;
    justify-content: center;
}

.orange {
    border-radius: 08px;
    background: rgba(255, 76, 30, 0.05);
    padding: 40px;
    
}

.blue {
    border-radius: 08px;
    background: rgba(0, 76, 232, 0.05);
    padding: 40px;
    
}

.yellow {
    border-radius: 08px;
    background: rgba(255, 223, 0, 0.05);
    padding: 40px;
    
}

.support {
    margin-top: 48px;
    background-image: url('/assets/handshake.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 64px 48px;
    border-radius: 8px;
}

.suggest-box {
    width: 548px;
    height: 57px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
}

.btn-submit {
    padding: 17px 24px;
    height: 57px;
    font-weight: 600;
    background-color: white;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
}

/* Footer style */

footer {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    padding: 32px 150px;
}

footer ul li {
    list-style: none;
}

footer ul {
    display: flex;
    gap: 25px;
}

/* challenge part */
html {
    scroll-behavior: smooth;
}